.orders {
    margin: 0 auto;
    max-width: 850px;
    background: white;

    .order {
        padding: 5px 10px;
        background: #eeeeee;
        border: 1px solud #aaa;
        margin-bottom: 1em;
    }
}
