.lotDetails {
  margin: 0 auto;
  width: 850px;
  background: white;
  .lot {
    margin-top: 5px;
    min-height: 210px;
    display: flex;
    background: #F2F2F2;
    border-radius: 10px;

    .lot__img {
      display: flex;
      flex: 0 0 185px;
      margin: 10px;

      div {
        display: flex;
        align-items: stretch;
        justify-content: center;
        background: #C4C4C4;
        border-radius: 5px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        flex-grow: 1;

        img {
          width: 200px;
        }
      }
    }

    .lot__product {
      flex-grow: 1;
    }

    .lot__info {
      display: flex;
      flex-wrap: wrap;
      flex: 0 0 270px;
      margin: 5px;
      align-items: stretch;

      div {
        display: flex;
        justify-content: space-between;
        font-size: 15px;
        flex-grow: 1;
      }


      .lot_options_make_bid_button,
      .lot_options_edit_lot_button,
      .lot_options_delete_lot_button
      {
        display: flex;
        width: 100%;
        justify-content: center;
        padding: 1em 0;

        height: 30px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 2px;

        font-size: 15px;
        padding: 3px 0;

        text-decoration: none;
        color: black;
      }

      .lot_options_make_bid_button {
        background: #27AE60;
       }
      .lot_options_edit_lot_button {
        background: #58B3E6;
      }
      .lot_options_delete_lot_button {
        background: #EB5757;
        cursor: pointer;
      }

    }
  }
  
  .lotBids {
    background-color: #F2F2F2;
    h2 {
      padding: 15px 0 0 0;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 28px;
      align-items: center;
      text-align: center;
    }

    .table {
      max-width: 600px;
      margin: 2em auto;
      .row {
        display: flex;
        background-color: #FFFFFF; 
        align-items: stretch;
        justify-content: space-between;
        font-size: 13px;
        line-height: 18px;
        
        &:nth-child(2n+1) {
          background-color: #EAECED; 
        }

        &.head {
          background: #6B757F;
          .id, .customer, .proposition, .time {
            color: #EEEEEE;
            text-transform: uppercase;
            font-weight: bold;
          }
        }

        .id, .customer, .proposition, .time {
          text-align: center;
          padding: 10px;
          border-right: 1px white solid;
          border-left: 1px white solid;
        } 
        .id {
          flex: 0 0 20px;
        }
        .customer {
          flex: 1 0 50px;
        }
        .proposition {
          flex: 1 0 50px;
        }
        .time {
          flex: 1 0 50px;
        }
      }
    }

    .total {
      padding: 10px;

      text-align: right; 
      background: #EAECED;
      color: #2F3438;
      border: 1px solid #DEE1E3;
    
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 16px;
    }
  }
}
