.lotDetails {
  margin: 0 auto;
  max-width: 850px;
  background: white;
  .lot {
    margin-top: 5px;
    display: flex;
    background: #F2F2F2;
    border-radius: 10px;
    flex-wrap: wrap;

    .lot__img {
      display: flex;
      flex: 0 0 185px;
      margin: 10px;

      div {
        img {
          width: 100%;
        }
      }
    }

    .lot__product {
      flex-grow: 1;

      .winnerStatus {
        color: red;
        font-size: 14px;
        text-align: right;
        padding: 5px 10px;
      }

      h6 {
          margin-bottom: 5px;
      }

      p {
          font-size: 14px;
          line-height: 16px;
      }
    }

    .lot__info {
      display: flex;
      flex-wrap: wrap;
      flex: 0 0 270px;
      margin: 5px;
      align-items: stretch;

      .lot__details {
        display: flex;
        justify-content: space-between;
        font-size: 15px;
        flex-grow: 1;
        flex-wrap: wrap;
        & > div {
          flex-basis: 100%;
          display: flex;
          justify-content: space-between;
          margin-bottom: 0.5em;
        }
      }

      .lot_options {
        margin-top: 2em;
        flex: 1 0 100%;

        .lot_options_make_bid_button,
        .lot_options_set_lot_button,
        .lot_options_edit_lot_button,
        .lot_options_checkout_button,
        .lot_options_delete_lot_button
        {
          display: flex;
          width: 100%;
          justify-content: center;
          align-items: center;
          height: 30px;
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
          border-radius: 2px;

          font-size: 15px;
          padding: 3px 0;
          margin-top: 1em;

          text-decoration: none;
          color: black;
        }

        .lot_options_make_bid_button {
          background: #27AE60;
        }

        .lot_options_checkout_button {
          background: #27AE60;
        }

        .lot_options_set_lot_button {
          background: #27AE60;
        }

        .lot_options_edit_lot_button {
          background: #58B3E6;
          height: auto;
        }

        .lot_options_delete_lot_button {
          background: #EB5757;
          cursor: pointer;
        }
      }
    }

    .lot__order {
      display: flex;
      flex-wrap: wrap;
      flex: 0 0 100%;
      border-top: 1px solid #999;
      justify-content: space-between;
      align-items: center;
      .lot__order_item {
        padding: 5px 10px;
        flex-grow: 1;
        h4 {
          margin: 5px 0;
        }
        p {
          margin: 5px 0;
        }
      }
    }
  }
  
  .lotBids {
    background-color: #F2F2F2;
    h2 {
      padding: 15px 0 0 0;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 28px;
      align-items: center;
      text-align: center;
    }

    .table {
      max-width: 600px;
      margin: 2em auto;
      .row {
        display: flex;
        background-color: #FFFFFF; 
        align-items: stretch;
        justify-content: space-between;
        font-size: 13px;
        line-height: 18px;
        
        &:nth-child(2n+1) {
          background-color: #EAECED; 
        }

        &.head {
          background: #6B757F;
          .id, .customer, .proposition, .time {
            color: #EEEEEE;
            text-transform: uppercase;
            font-weight: bold;
          }
        }

        .id, .customer, .proposition, .time {
          text-align: center;
          padding: 10px;
          border-right: 1px white solid;
          border-left: 1px white solid;
        } 
        .id {
          flex: 0 0 20px;
        }
        .customer {
          flex: 1 0 50px;
        }
        .proposition {
          flex: 1 0 50px;
        }
        .time {
          flex: 1 0 50px;
        }
      }
    }

    .total {
      padding: 10px;

      text-align: right; 
      background: #EAECED;
      color: #2F3438;
      border: 1px solid #DEE1E3;
    
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 16px;
    }
  }
}
