.NavMenu {
  display: flex;
  min-height: 63px;
  align-items: center;
  justify-content: space-between;
  color: black;
  width: 100%;
  background-color: #C4C4C4;
}

.NavMenu .logo {
  color: #000000;
  text-decoration: none;
  margin-left: 2em;
}


.NavMenu ul.buttons {
  display: inline-flex;
  align-items: center;
  justify-content: right;
  list-style: none;
}

.NavMenu ul.buttons li {
  margin:  0 10px;
}

.NavMenu ul.buttons li a {
  display: flex;
  padding: 5px 10px;

  min-height: 43px;

  background: #E0E0E0;
  border: 1px solid #000000;
  color: #000000;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration: none;
}