.signUp,
.login
{
  margin: 0 auto;
  width: 850px;
  background: white;

  .formWrapper {
    width: 262px;
    margin: 0 auto;
    form {
      display: flex;
      flex-wrap: wrap;
      padding: 2em 0;
      input[type=text],
      input[type=password],
      textarea {
        border: 0;
        width: 262px;
        height: 36px;
        font-size: 18px;
        line-height: 21px;
        margin-bottom: 1em;
        flex-grow: 1;
        border-radius: 5px;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      }

      textarea {
        min-height: 100px;
      }

      .submitBtn {
        display: flex;
        justify-content: center;
        flex-grow: 1;
        button {
          width: 138px;
          height: 40px;
          background: #27AE60;
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
          border-radius: 2px;
        }
      }
    }
  }
}