.lots {
    margin: 0 auto;
    width: 850px;
    background: white;
}

.lots .lot {
    margin-top: 5px;
    min-height: 210px;
    display: flex;
    background: #F2F2F2;
    border-radius: 10px;
}


.lots .lot .lot__img {
    display: flex;
    flex: 0 0 185px;
    margin: 10px;
}

.lots .lot .lot__img div {
    display: flex;
    align-items: stretch;
    justify-content: center;
    background: #C4C4C4;
    border-radius: 5px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    flex-grow: 1;
}

.lots .lot .lot__product {
    flex-grow: 1;

}

.lots .lot .lot__info {
    flex: 0 0 270px;
    margin: 5px;
}

.lots .lot .lot__info div {
    display: flex;
    justify-content: space-between;
}