body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.pagination ul {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
}

.pagination ul li {
  display: inline-block;
  cursor: pointer;
}

.pagination ul li.selected a {
  background-color: #A4EDC3;
}

.pagination ul li a {
  padding: 10px 15px;
  margin: 0;
  background-color: #E0E0E0;
  border: 1px solid black;
}

.pagination ul li a:hover {
  background-color: #A4EDC3;
}